.nav {
    width: 100vw;
    height: 10vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    position: relative;
}

.nav > .menu {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.nav > .menu > img {
    opacity: 0;
}

.nav > div:nth-child(2) {
    width: 55%;
}

.nav > div:nth-child(3){
    width: 15%;
    align-self: center;
}

.nav > .tiktok_logo {
    width: auto;
    height: auto;
}

.nav > div > .logo {
    width: 100px;
    height: 100px;
}


@media screen and (max-width: 768px) {
    .nav > .menu > img {
        width: 70%;
        height: 85%;
        opacity: 1;
    }

    .line {
        display: block;
    }

    .nav > .tiktok_logo {
        width: 50% !important;
        height: 50% !important;
    }

    .nav > div:nth-child(1) {
        border: 1px solid rgb(218, 218, 218);
        border-radius: 6px;
        height: 65%;
        width: 3.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
    }

    .nav > div:nth-child(2) {
        width: 60%;
    }

    .nav > div:nth-child(3) {
        width: 25%;
    }

    .nav > div > .logo {
        width: 80px;
        height: 80px;
    }
}

/* 
    <div className="line"></div>
    <div className="line"></div>
    <div className="line"></div> 
*/