.nav {
    width: 100vw;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav > img {
    width: auto;
    height: auto;
    margin-right: 5rem;
}
