.nav {
    width: 100vw;
    height: 10vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    position: relative;
}

.nav > div:nth-child(1) {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.line {
    width: 35px;
    height: 4px;
    background-color: black;
    margin: 3px;
    border-radius: 5px;
    display: none;
}

.nav > div:nth-child(2) {
    width: 55%;
}

.nav > div:nth-child(3){
    width: 15%;
    align-self: center;
}

.nav > .tiktok_logo {
    width: auto;
    height: auto;
}

.nav > div > .logo {
    width: 100px;
    height: 100px;
}


@media screen and (max-width: 768px) {
    .line {
        display: block;
        margin-left: 10px;
    }

    .nav > div:nth-child(2) {
        width: 60%;
    }

    .nav > div:nth-child(3) {
        width: 25%;
    }

}