.sidebar {
    height: 45%;
    width: 15%;
    position: absolute;
    top: 35%;
    right: 15px;
}

.sidebar_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.icon {
    filter: invert(1);
}

.icons_container {
    text-align: center;
}

.icons_container > h3 {
    margin-left: 10px;
    font-weight: 100;
}