@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

.video {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    cursor: pointer;
}

.video_player {
    object-fit: none;
    width: 100%;
    height: 100%;
}

.vol_icon {
    position: absolute;
    top: 50%;
    left: 20px;
    filter: invert(1);
    z-index: 5;
}

.footer_ticker {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 7%;
}

.footer_ticker > .ticker {
   /* height: fit-content; */
    width: 50%;
    margin-left: 5px;
    color: white;
    font-family: 'Shippori Mincho', serif;
    font-style: italic;
    font-size: 13px;
}

.icon {
    margin-left: 10px;
    filter: invert(1);
}

.img_rotate {
    position: absolute;
    bottom: 7%;
    right: 20px; 
    width: 40px; 
    height: 40px;
    filter: invert(1);
    animation: spinIcon infinite 5s linear;
}

@keyframes spinIcon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.no_rotation {
    position: absolute;
    bottom: 7%;
    right: 20px; 
    width: 40px; 
    height: 40px;
    filter: invert(1);
    animation: none;
}